
/*FUN HOVER EFFECT ON TITLE*/


header {
  background-color: #c5c1c0;
  padding: 30px 20px;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 2em;
  line-height: 1;
  color: #ffffff;
  display: inline-block;
}

.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #ffffff;
}

.link--kukuri:hover {
  color: #ffffff;
}

.link--kukuri::after {
  content: '';
  position: absolute;gi
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
  transform: translate3d(100%,0,0);
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
  width: 100%;
}

/*FUN HOVER EFFECT ON TITLE END*/

/* FUN HOVER EFFECT ON CARDS */
img{
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

img:hover{
   -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 166, 179, 0.1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 166, 179, 0.1);
    box-shadow: 0px 0px 20px 10px rgba(0, 166, 179, 0.1);
}
/* FUN HOVER EFFECT ON CARDS ENDS */


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  color: white;
  font-size: 45px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h2 {
  color: #0D2C40;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
}

nav {
  background-color: #438496;
  padding: 20px 0;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .06em;
  margin: 0 20px;
  border-bottom: 2px solid transparent;

}

.non-nav a:hover {
  border-bottom: 2px solid white;
}

img {
  margin: 30px 10px 0;
}




body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 0;
}


main {
  width: 850px;
  margin: 35px auto;
}


/*footer stuff */


footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #438496;
  color: white;
  font-size: 10px;
  letter-spacing: .08em;
  font-weight: 100;

}

.copyright {
  float: left;
  font-family: "Raleway", sans-serif;
}

.message {
  float: right;
  font-family: "Raleway", sans-serif;
}

.name {
  color: #F15B31;
  font-weight: bold;
}