h1 {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

h3 {
	font-family: "Raleway", sans-serif;
	color: #0d2c4d;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 60px;

}

a{
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	font-weight: 100;

}

a:hover {
  border-bottom: 2px solid white;
}


body{
	text-align: center;
	margin: 0;
}

header {
background-color: #F15B31;
padding-top: 30px;
padding-bottom: 30px;

}

main {
	width: 850px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}



nav {
	background-color: #00a6b3;
	padding-top: 20px;
	padding-bottom: 20px;

}

span.message {
	 font-weight: 100;
	text-align: center;
	font-family: "Raleway", sans-serif;
	float: right;
	font-size: 14px;
	padding
}
span.copyright {
	font-weight: 100;
	text-align: center;
	font-family: "Raleway", sans-serif;
	float: left;
	font-size: 14px;
}

span.name {
	color: #F15B31;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}


footer {
	text-transform: uppercase;
	background-color: #0d2c40;
	color: white;
	font-size: 10px;
	letter-spacing: .08em;
	font-weight: 500;
	padding:0 20px 0 20px;
	padding-left: 100px;
	padding-right: 100px;


}